# Secrets
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# React
build/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
